{{#if serializedData.length}}
  {{#each posts}}
    <div id="myposts" class="post mae-med has-background-success">
        <p><a href="/post/{{userposts.id}}" class="is-size-5 is-underlined mae-semi">{{post.title}}</a></p>
        <p class="is-size-6 mae-med">{{post.content}}</span></p>
        <p class="is-size-6 mb-2">Posted: <span class="mae-semi">{{format_date post.date_created}}</span></p>
    </div>
  {{/each}}
{{else}}
  <p class="is-size-5 mae-semi has-text-primary"> You don't have any posts yet. What's on your mind, tech fan? Let's write something!</p>
{{/if}}