<p>This is the post list partial</p>
<script id="post-template" type="text/x-handlebars-template">
<ul>
  {{#each posts as |post| }}
    <li>
      {{#if logged_in}}
        <a href="/api/post/getPostById/{{post.id}}" class="post-link">
      {{else}}
        <a href="/signUpIn" class="post-link">
      {{/if}}
          <h3 class="is-size-3">{{post.title}}</h3>
          <p>Author: {{post.user.username}} - Posted: {{post.date_created}}</p>
        </a>
    </li>
  {{/each}}
</ul>
</script>

<div id="show-all-posts">
</div>