<ul>
  {{#each posts}}
    <li>
    {{#if logged_in}}
      <a href="/post/{{this.id}}" class="post-link">
        <h3>{{this.title}}</h3>
        <p>Author: {{this.User.username}} - Posted: {{this.date_created}}</p>
      </a>
      {{/if}}
    {{#else}}
      <a href="/login" class="post-link">
        <h3>{{this.title}}</h3>
        <p>Author: {{this.User.username}} - Posted: {{this.date_created}}</p>
      </a>
    {{/else}}
    </li>
  {{/each}}
</ul>